.footer-bg {
  background-color: #202020;
}

<<<<<<< HEAD
.text-yellow {
  color: #fd860a;
}

.deco-remove {
  text-decoration: none;
=======
.footer-logo{
    max-height: 60px;
    width: 100%;
}
.text-yellow{
    color: #FD860A;
>>>>>>> Development
}
