.single_all_department {
  border-right: 1px solid #e5e5e5c2;
  border-bottom: 1px solid #e5e5e5c2;
  padding: 3% 4%;
  padding-left: 2%;
}
.all_department_reviews {
  display: flex;
  align-items: center;
  justify-content: start;
}
.all_department_reviews p {
  color: #999;
  font-size: 16px;
  padding-left: 3%;
  padding-top: 3%;
}
.all_department_reviews ul {
  list-style: none;
}
.all_department_reviews li {
  color: #ffaa30;
  list-style: none;
}
.shediul span {
  display: block;
  color: #333;
  font-size: 15px;
}
.shediul small {
  color: #999;
  font-size: 13px;
}
.s_shediul {
  border-right: 1px solid #e5e5e5;
}
.departments_btn {
  padding: 10px 26px;
  border: 1.5px solid #86bc42;
  outline: none;
  color: #333;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: white;
}
.departments_btn :hover {
  background-color: #86bc42 !important;
  color: white;
}
.department_text {
  color: 666;
  line-height: 25px;
  font-size: 15px;
  padding: 4% 0;
  padding-bottom: 2%;
}
